.contact-container{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 20px;
    background-image: url('../public/images/image1.png');
    background-size: cover;
}

.forms{
    display: flex;
    flex-direction: column;
    width: 400px;
    /* border: 1px solid black; */
    gap: 20px;
}

input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 50px;
}

input:focus, textarea:focus{
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea{
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 15px;
    resize: vertical;
    min-height: 100px;
}

button{
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}