.contact-container{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    /* align-items:center; */
    justify-content: center;
    padding: 20px;
    background-image: url('../public/images/image1.png');
    background-size: cover;
    /* background-position: center; */
}

.contact-form{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.forms{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: end;
}