.navbar{
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-image: url('../images/image1.png');
    background-size: cover;
    border: 2px solid lightgray;
}

.element{
    margin: 10px 0;
    list-style: none;
    color: black;
    padding-right: 50px;
    font-size: 20px;
    font-style: bold;
}
.element a{
    text-decoration: none;
    color: inherit;
}


 .element li:hover{
    cursor: pointer;
    transform: scale(1.08);
    color: red;
    transition: all 0.3s ease-in-out;

}
